
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Menggunakan font Roboto */
    background: url('https://images.unsplash.com/photo-1609599006353-e629aaabfeae?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover; /* Ukuran gambar latar belakang */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi kontainer sejajar dengan tinggi viewport */
}

.form-container {
    background-color: rgba(0, 0, 0, 0.6); /* Warna latar belakang transparan dan lebih gelap */
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.form-title {
    font-size: 32px; /* Ukuran font judul */
    font-weight: 700; /* Ketebalan font judul */
    color: #fff; /* Warna teks judul */
    text-align: center; /* Posisi teks ke tengah */
    margin-bottom: 30px; /* Margin bawah untuk memberikan ruang */
}

.form-group label {
    font-weight: 600; /* Ketebalan font label */
    color: #ccc; /* Warna teks label */
}

.form-control {
    border-radius: 20px; /* Sudut bulat pada input */
}

.btn-primary {
    border-radius: 20px; /* Sudut bulat pada tombol */
}

.subtitle {
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-size: 15px;
}